cells_geo_description.xlsx [Link]
cells_geo.csv [Link]
CDR_description.xlsx [Link]
CDR 20120507 [http://bit.ly/TelecomDataset1]
CDR 20120508 [http://bit.ly/TelecomDataset2]
CDR 20120509 [http://bit.ly/TelecomDataset3]

In [ ]:
# Importing the pandas library
#

import pandas as pd

# as well as the Numpy library
#

import numpy as np

In [ ]:
# Read cells geo description
#
cel_geo_des=pd.read_excel("cells_geo_description.xlsx")
cel_geo_des

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [ ]:
# Read CDR Description
cdr_ds=pd.read_excel("CDR_description.xlsx")
cdr_ds

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [ ]:
# Import all the datasets
# 
df=pd.read_csv("cells_geo.csv")
tel_data=pd.read_csv("Telcom_dataset.csv")
tel_data2=pd.read_csv("Telcom_dataset2.csv")
tel_data3=pd.read_csv("Telcom_dataset3.csv")

****************************************************
**DATA PREPARATION**
****************************************************

In [ ]:
# Drop column one from the cells_geo.csv dataset
#
df.drop("Column1", axis=1, inplace=True)
df

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 11 columns]

In [ ]:
# Find unique values in each column
for item in df.columns:
  print(item,"-->",df[item].nunique())

VILLES --> 504
STATUS --> 1
LOCALISATION --> 2
DECOUPZONE --> 15
ZONENAME --> 33
LONGITUDE --> 1013
LATITUDE --> 1023
REGION --> 19
AREA --> 6
CELL_ID --> 3916
SITE_CODE --> 1029

In [ ]:
# find data types
#
df.dtypes

VILLES           object
STATUS           object
LOCALISATION     object
DECOUPZONE       object
ZONENAME         object
LONGITUDE       float64
LATITUDE        float64
REGION           object
AREA             object
CELL_ID          object
SITE_CODE        object
dtype: object

In [ ]:
# Cleaning null values in AREA
df["AREA"].isna().sum()
# drop the null values in df["AREA"]
df.dropna(inplace=True)
df.shape

(3880, 11)

In [ ]:
#Checking for missing values
#Cells geo dataset
df.isnull()
#Dropping the missing observations
df_new = df.dropna()
df_new

        VILLES      STATUS LOCALISATION  ...           AREA     CELL_ID   SITE_CODE
23       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5
...        ...         ...          ...  ...            ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  f9f3e42589  61bee9c70c

[3880 rows x 11 columns]

In [ ]:
# Fill in the status column with ("In Service")
# df["STATUS"].fillna("In Service")

In [ ]:
# summing all columns from cells geo
#
df.isna().sum()

VILLES          0
STATUS          0
LOCALISATION    0
DECOUPZONE      0
ZONENAME        0
LONGITUDE       0
LATITUDE        0
REGION          0
AREA            0
CELL_ID         0
SITE_CODE       0
dtype: int64

In [ ]:
#Duplicates in cells geo datset
df.duplicated() 
#Means the cells geo datset does not have any duplicated values

23      False
24      False
25      False
26      False
27      False
        ...
3969    False
3970    False
3971    False
3972    False
3973    False
Length: 3880, dtype: bool

In [ ]:
#Checking for duplicates in the index
df = df[~df.index.duplicated()]

In [ ]:
# Finding out the frequency of use of cities
df["VILLES"].value_counts()

COCODY         354
YOPOUGON       289
ABOBO          244
MARCORY        141
TREICHVILLE    132
              ...
MEMNI            2
KOTOULA          2
KRIKOREA         2
DANANON          1
OUANGOLO         1
Name: VILLES, Length: 501, dtype: int64

***************************************************
//////////**Telecom data cleaning**////////////
***************************************************

In [ ]:
# Check columns
#
tel_data.columns

Index(['PRODUTC', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [ ]:
# Display the data types for each of the features
#
tel_data.dtypes

PRODUTC            object
VALUE               int64
DATETIME           object
CELL_ON_SITE       object
DW_A_NUMBER_INT    object
DW_B_NUMBER_INT    object
COUNTRY_A          object
COUNTRY_B          object
CELL_ID            object
SITE_ID            object
dtype: object

In [ ]:
# Rename teh column feature
#
# product_column={'PRODUTC':'PRODUCT'}
# tel_data.rename(columns=product_column ,inplace=True)

In [ ]:
# Display Telcom_dataset
tel_data.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [ ]:
# Display unique values in each feature
#
for item in tel_data.columns:
  print(item," >>",tel_data[item].nunique())

PRODUTC  >> 3
VALUE  >> 242
DATETIME  >> 708
CELL_ON_SITE  >> 7
DW_A_NUMBER_INT  >> 3903
DW_B_NUMBER_INT  >> 2848
COUNTRY_A  >> 1
COUNTRY_B  >> 2
CELL_ID  >> 1790
SITE_ID  >> 1076

In [ ]:
#Selecting irrelevant columns to be deleted from the telecom datasets
tel_data.drop(['CELL_ON_SITE', 'DW_A_NUMBER_INT' , 'DW_B_NUMBER_INT' , 'COUNTRY_A' ,'COUNTRY_B' ] , axis=1 ,inplace=True)
tel_data

# ***********

#Second telecom dataset
tel_data2.drop(['CELL_ON_SITE', 'DW_A_NUMBER' , 'DW_B_NUMBER' , 'COUNTRY_A' ,'COUNTRY_B' ] , axis=1 ,inplace=True)
tel_data2

# ***********

#Third telecom dataset
tel_data3.drop(['CELL_ON_SITE', 'DW_A_NUMBER_INT' , 'DW_B_NUMBER_INT' , 'COUNTRY_A' ,'COUNTRY_B' ] , axis=1 ,inplace=True)
tel_data3

     PRODUCT  VALUE              DATE_TIME      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  1c11a2fcbb  6d70dae094

[5001 rows x 5 columns]

In [ ]:
#Checking for missing values btelecom data sets

#Telecom datasets
tel_data.isnull()
#First dataset does not contain any null values

#Second telecom dataset
tel_data2.isnull()
#Dropping the missing observations in telecom dataset 2
df_no_missing = tel_data2.dropna()
df_no_missing

#Third telecom dataset
tel_data3.isnull()
#Third telecom dataset does not contain any null values

      PRODUCT  VALUE  DATE_TIME  CELLID  SIET_ID
0       False  False      False   False    False
1       False  False      False   False    False
2       False  False      False   False    False
3       False  False      False   False    False
4       False  False      False   False    False
...       ...    ...        ...     ...      ...
4996    False  False      False   False    False
4997    False  False      False   False    False
4998    False  False      False   False    False
4999    False  False      False   False    False
5000    False  False      False   False    False

[5001 rows x 5 columns]

In [ ]:
# Checking for duplicates in the main datasets

#Proceeding to the first telecom dataset
tel_data.duplicated() ##Does not contain duplicated values

#Second telecom dataset
tel_data2.duplicated()
#Since it contains some duplicates, they get deleted
tel_data2.drop_duplicates()

#Third telecom dataset
tel_data3.duplicated()
#Since it contains some duplicates, they get deleted
tel_data3.drop_duplicates()

     PRODUCT  VALUE              DATE_TIME      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  1c11a2fcbb  6d70dae094

[4456 rows x 5 columns]

In [ ]:
## Intergrating data
# Before intergrating, there are some spelling errors on the column names that would interfere with the merging
# Correcting the mispelled column names
#

tel_data_new=tel_data.rename({'PRODUTC' : 'PRODUCT' ,'DATETIME' : 'DATE_TIME'}, axis=1)
tel_data_new
tel_data3_new=tel_data3.rename({'CELLID' : 'CELL_ID' ,'SIET_ID' : 'SITE_ID'}, axis=1)
tel_data3_new

     PRODUCT  VALUE              DATE_TIME     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  1c11a2fcbb  6d70dae094

[5001 rows x 5 columns]

In [ ]:
#Since the three telecom datasets contain similar columns, they are appended/merged
telecom=[tel_data_new,tel_data2,tel_data3_new]
telecom_df=pd.concat(telecom)
telecom_df

     PRODUCT  VALUE              DATE_TIME     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  1c11a2fcbb  6d70dae094

[15003 rows x 5 columns]

In [ ]:
telecom_df.dtypes

PRODUCT      object
VALUE         int64
DATE_TIME    object
CELL_ID      object
SITE_ID      object
dtype: object

In [ ]:
#Converting the date_time column to date_time type from object and removing the date
telecom_df['DATE_TIME'] = pd.to_datetime(telecom_df['DATE_TIME']).apply(lambda x: x.time())
telecom_df

ParserError: ignored

In [ ]:

import datetime
telecom_df.datetime = pd.to_datetime(telecom_df.datetime)

AttributeError: ignored

In [ ]:
#separate date and time
telecom_df['date'] = [d.date() for d in telecom_df.datetime ]
telecom_df['time'] = [d.time() for d in telecom_df.datetime ]
telecom_df['date'] = pd.to_datetime(telecom_df['date'])
telecom_df['time'] = pd.to_datetime(telecom_df['time'], format ='%H:%M:%S:%f', errors='ignore')

AttributeError: ignored

In [ ]:
df['DataFrame Column'] = pd.to_datetime(df['DataFrame Column'], format=specify your format)

SyntaxError: ignored

In [ ]:
#Converting columns that containn categorical variables to intergers using dummy variables via label encoding
##Product column on the telecom dataset
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

telecom_df.info()
#fitting label encoder to the data frame
label_encoder.fit(telecom_df['PRODUCT'])
#looking at the classes/categories in the product column
list(label_encoder.classes_)

#transforming the categories into intergers
telecom_df['PRODUCT'] = label_encoder.transform(telecom_df['PRODUCT'])
telecom_df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5001 entries, 0 to 5000
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PRODUCT    5001 non-null   object
 1   VALUE      5001 non-null   int64
 2   DATE_TIME  5001 non-null   object
 3   CELL_ID    5001 non-null   object
 4   SITE_ID    4285 non-null   object
dtypes: int64(1), object(4)
memory usage: 394.4+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

      PRODUCT  VALUE              DATE_TIME     CELL_ID     SITE_ID
0           0      0  2012-05-06 23:04:37.0  /TJNe+Mmtu  /TJNe+Mmtu
1           2      0  2012-05-06 23:05:25.0  /+cKZKIp41  /+cKZKIp41
2           2     25  2012-05-06 23:05:41.0  /u0FSD+ahi  /u0FSD+ahi
3           0     56  2012-05-06 23:05:42.0  +cNeJzsTp3  +cNeJzsTp3
4           0     14  2012-05-06 23:06:29.0  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...         ...         ...
4996        2    100  2012-05-07 00:01:54.0  0c2371d9bc  1e751d08a4
4997        0      1  2012-05-07 00:01:54.0  5fb791cf56  65efe2bc62
4998        0      0  2012-05-07 00:01:54.0  7773627c12  9ef9616350
4999        0      0  2012-05-07 00:01:54.0  3f4af49d6c  969b8d0e39
5000        0      7  2012-05-07 00:01:54.0  6f4d9b77a5  ebfc58af70

[5001 rows x 5 columns]

**Data Analysis**

In [ ]:
#Data Analysis
#Getting the descriptive statistics of the value(billing) column in the telecom dataset
telecom_df['VALUE'].describe()
##Finding out which product is used more between voce,sms , and data
telecom_df['PRODUCT'].value_counts()
#SMS has the highest frequency count between the three followed closely by voice and lastly data

sms      7071
Voice    5666
data     2266
Name: PRODUCT, dtype: int64

In [ ]:
#Data analysis
#cells dataset
#What is the city with the most subscribers?
Top_cities=df['VILLES'].value_counts().head(10)
Top_cities

#Most frequent time when MTN was used
telecom_df['DATE_TIME'].value_counts()

2012-05-09 00:00:10.0    87
00:10.0                  82
2012-05-09 00:00:05.0    74
2012-05-07 00:00:10.0    71
2012-05-09 00:00:11.0    66
                         ..
2012-05-08 23:44:16.0     1
53:20.0                   1
2012-05-06 23:59:57.0     1
2012-05-06 23:15:46.0     1
30:17.0                   1
Name: DATE_TIME, Length: 2143, dtype: int64

In [ ]:
#The top cities use what product more between voice,sms and data
telecom_df = telecom_df[~telecom_df.index.duplicated()] 
telecom_df
groupby_product=df['VILLES'].groupby(telecom_df['PRODUCT'])
groupby_product.value_counts()
##The products that is most spent on
groupby_value=telecom_df['VALUE'].groupby(telecom_df['PRODUCT'])
groupby_value.max().head(3)

PRODUCT
Voice    1860
data     4440
sms       100
Name: VALUE, dtype: int64

In [ ]:
#How many MTN registered cards are in service?
df_new['STATUS'].value_counts()

#Localisation
df_new['LOCALISATION'].value_counts()
groupby_product=df['REGION'].groupby(telecom_df['PRODUCT'])
groupby_product.value_counts()

groupby_product=df['LOCALISATION'].groupby(telecom_df['PRODUCT'])
groupby_product.value_counts()

PRODUCT  LOCALISATION
Voice    INTERIEUR       959
         ABIDJAN         726
data     INTERIEUR       411
         ABIDJAN         229
sms      INTERIEUR       891
         ABIDJAN         664
Name: LOCALISATION, dtype: int64

In [ ]:
# Which cities were used most from 5 pm to 9 am
telecom_df.groupby(['date','villies']).size()
import datetime
biz_hrs = telecom_df[(telecom_df.datetime.dt.time >= datetime.time.dt.time(9)) & (telecom_df.datetime.dt.time<= datetime.time.dt.time(17))]
biz_hrs.groupby('date'),['villies'].count().sort_values(ascending = false)

KeyError: ignored